body {
    background-image: url('/static/images/sl-cem-header.png');
    background-size: 2500px 200px;
}
#logo {
    height: 100px;
    padding-bottom: 20px;
}
.hdr-bar {
    background-color: rgb(175, 186, 126);
}
.ftr-bar {
    background-color: rgb(73, 80, 40);
}
.bld-text {
    color: rgb(97, 58, 40);
}
#hdr-row {
  margin-top: 8px;
  margin-bottom: 8px;
}
#search-btn {
  margin-top: 4px;
}
#reset-btn {
  margin-top: 4px;
}
.hdr-text {
  font-size: 22pt;
  color: black;
}
.hdr-text-1 {
  font-size: 22pt;
  color: grey;
}
.hdr-text-2 {
  font-size: 22pt;
  color: lightBlue;
}
.btn-toolbar {
  margin-left: 0px;
  padding: 6px;
  padding-top: 4px;
  background-color: lightGrey;
  background-color: rgb(175, 186, 126);
}
.dropdown-menu {
  padding: 8px;
}
#error-message {
  min-height: 1em;
  color: red;
  font-weight: bold;
}
